body{
	font-family:Arial, Helvetica, sans-serif;
	/*font-family:monospace;*/
	font-size:15px;
	padding:0px;
	margin:0px;
}
#pmenu{
	display:none;
}
.contain{
	padding:5px 20px 5px 20px;
}
.myinput{
	padding:20px;
	border-style: none;
	width:calc(100% - 40px);
	margin-bottom:50px;
	border-bottom: 2px solid #021e72;
	

}
#spintab .myinput,.groupf input{
	margin-bottom:10px;
	padding:10px;
	

}
.padbutton{
padding:10px;
min-width:100px;
text-transform: uppercase;
color:#ffffff;
border:2px solid #ffffff;
background:#021e72;

}
.orderlists{
	background:#ffffff;
	margin:0px 3px;
}
#buyreq{
	font-size:20px;
	color:white;
	text-shadow:2px 2px 4px #000000;
}
#searchinput::placeholder{ /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #ffffff;
  opacity: 1; /* Firefox */
  font-family:monospace;
}
.logored{
	color:#bf3f3f;
}
header{
	background:#021e72;
	color:#ffffff;
	min-height:80px;
	margin-top:0;
	position:relative;
	width:100%;
	border-bottom:8px solid #bf3f3f;
}
header a{
	
	padding-top:0px;
	text-transform:uppercase;
	text-decoration:none;
	color:#ffffff;
	font-weight:bold;
}
#sitename{
	float:left;
}
#sitename h1{
		text-shadow:2px 2px 4px #000000;;
}
#topnav{
	float:right;
}
#topnav li{
	float:left;
	padding:20px;
	list-style:none;
	cursor:pointer;
}
#topnav li:focus{
	background:#bf3f3f;
}
#navmad,#fpin{
	background:#bf3f3f;
}
#nofloat{
	width:100%;
	position:relative;
	
}
#mid{
	width: 100px;
  min-height: 100px;
  background:#d8743a;
 // background:#ffffff;
	color:#ffffff;
	border-radius:50%;
	border:3px solid #ffffff;
	text-align:center;
	text-shadow:0 0 60px #bf3f3f, 0 0 100px #021e72;
	position:relative;
	//overflow:hidden;
	
padding:10px;
  }
 #midlogo{
  width:30%;
	position:absolute;
	top:30px;
	right:35%;
	z-index:10;
}

	/*border-right:3px solid #021e72;*/
#fcontent {
	width:calc(100% - 10px);
	//min-height:435px;
	margin:20px 5px 5px 5px;
	background:url("car.jpeg");
	background-repeat: no-repeat;
 	//background-attachment: fixed;
 	background-position: center;
 
}
#postcontent{
	width:calc(100% - 10px);
	min-height:435px;
	background:#021e72;
	margin:20px 5px 5px 5px;
}
#signs{
	min-height:435px;
	width:100%;
	background:rgba(0,0,0,0.6);
	text-align:center;
	position:relative;
	z-index:0;
	overflow:hidden;
	/*display:table;
	vertical-align: middle;*/
}
#postinner{
	min-height:435px;
	width:100%;
	//background:rgba(0,0,0,0.6);
	text-align:center;
	position:relative;
	z-index:0;
	overflow:hidden;

}	
.pintab{
	position:absolute;
	font-size:15px;
	color:#ffffff;
	background:#d8743a;
	left:0px;
	padding:5px 20px 5px 20px;
	text-transform: uppercase;
	border-radius:0px 25px 25px 0;
	border-top:5px solid #ffffff;
	border-bottom:5px solid #ffffff;
	border-right:5px solid #ffffff;
	min-width:100px;
	cursor:pointer;
}
.pintab:focus{
	background:#021e72;
}
.reporttab{
	position:absolute;
	font-size:10px;
	color:red;
	background:#ffffff;
	left:0px;
	padding:5px 5px 5px 5px;
	text-transform: uppercase;
	border-radius:0px 15px 15px 0;
	border-top:2px solid #bf3f3f;
	border-bottom:2px solid #bf3f3f;
	border-right:2px solid #bf3f3f;
	cursor:pointer;
}
.reporttabs{
	position:absolute;
	font-size:10px;
	color:#ffffff;
	background:red;
	right:0px;
	padding:5px 5px 5px 5px;
	text-transform: uppercase;
	border-radius:15px 0 0 15px;
	border-top:2px solid #ffffff;
	border-bottom:2px solid #ffffff;
	border-left:2px solid #ffffff;
	border-right:0px;
	cursor:pointer;
	z-index:50;
}
.pintop{
	position:absolute;
	font-size:15px;
	color:#ffffff;
	background:#d8743a;
	padding:5px 20px 5px 20px;
	text-transform: uppercase;
	border-top:0;
	border-left:5px solid #ffffff;
	border-bottom:5px solid #ffffff;
	border-right:5px solid #ffffff;
	min-width:100px;
	cursor:pointer;
	z-index:10;
}
#tpintop{
	right:10px;
}
#fpintop{
	right:180px;
}
#spintop{
	left:10px;
}

#accontact,#acagent,#acorder{
	position:static;
	margin:40px 0 40px 0;
	border-radius:25px;
	border:5px solid #ffffff;
	min-width:150px;
}
#ep1,#ep2,#ep3,#ep4,#ep5,#ep6{
	position:static;
	margin:10px 0 10px 0;
	border-radius:25px;
	border:5px solid #ffffff;
	min-width:150px;
}
#edit1,#edit2,#edit3,#edit4,#edit5,#edit6{
	width:60%;
	margin-top:5px;
	border:2px solid #021e72;
	border-radius:10px;
	display:none;
}
#cl1,#cl2,#cl3,#cl4,#cl5,#cl6{
	display:none;
}
.righttab{
	background:#d8743a;
	width:30%;
	min-height:500px;
	position:absolute;
	right:0px;
	margin-right: 10px;
	top:0px;
	z-index:12
}
.hide{
	display:none;
}
#forsearch{
	position:absolute;
	width:60%;
	bottom:30px;
	left:3%;
}
#mainsearch{
	
	width:80%;
	float:left;
}
#searchinput{
	padding:20px;
	width:100%;
	background:rgba(191,63,63,0.7);
}
#searchspan{
	width:20%;
	float:right;
}
#searchspan button{
	width:100%;
	padding:20px 0 20px 0; 
	margin:0;
	text-transform: uppercase;
	color:#ffffff;
	background:#021e72;
	
}
#serchform{
	padding:0;
}
.titletab{
background:#021e72;
margin: 20px 0 20px 0; 
padding:10px;
text-align: center;
text-transform: uppercase;
font-size: 40px;
color:#ffffff;
position:relative;
text-shadow:2px 2px 4px #000000;
}
.close{
	position:absolute;
	right:10px;
	cursor:pointer;
	top:1px;
	font-size: 20px; 
	display:none;
}
.closes{	
	cursor:pointer;	
	font-size: 20px;
	display:none; 
}
#fpin{
	top:80px;
}
#spin{
	top:188px;
}
#tpin{
	top:306px;
}

#extras{
	background:#cccccc;
	width:100%;
	height:100%;
	position:relative;
}

.stattitle{
	padding:10px;
	text-align:center;
	color:#021e72;
	font-weight:bold;
	font-size:25px; 
	width:calc(100%-30px);
	border-bottom:2px solid #bf3f3f;;
}
#adtitle{
	margin-top:0;
	background:#021e72;
	border-bottom:2px solid #ffffff;
	color:#ffffff;
}
#adstitle{
	margin-top:0;
	padding:10px;
	color:#ffffff;
	font-size:25px;
	border-bottom:2px solid #ffffff;
}

#indexads{
	width:95%;
	left:2.5%;
	//top:50px;
	min-height:100%;
	position:relative;

	
}
.sameimg{
	width:27%;
	border:2px solid #ffffff;
	margin:3px;
	min-height:150px;
}
.boxline{
	width:100%;
	//min-height:500px;
}
#agentsconer{
	width:20%;
	right:0;
	border-left:3px solid #ffffff;
	min-height:100%;
	position:relative;
}
footer{
	padding:20px;
	background:#191919;
	width:calc(100% - 40px);
	font-weight:bold;
	text-align:center;
	color:#ffffff;
}
#profiletab{
	position:absolute;
	width:25%;
	min-height:435px;
	left:0;
	border-right:5px solid #ffffff;
	display:none;
}
#postform,#prequest{
	position:absolute;
	width:calc(70% - 5px);
	top:70px;
	right:2.5%;
	min-height:90%;
	bottom:12%;
	background:#d8743a;
	border: 3px solid #ffffff;
	display:none;
}
.adsbox{
	width:calc(33% - 10px);
	float:left;
	margin:5px;
	min-height:300px;
	background:#f1f1f1;
	box-shadow: 3px 5px 5px #000000;
	position:relative
}
.imgcontain{
	width:100%;
	height:200px;
	overflow:hidden;
	background:#666666;
	position:relative;
}
.priceedit{
	position:absolute;
	width:100%;
	background:rgba(255,255,255,0.8);
	top:0;
	z-index:10;
}
.ralerts{
	position:absolute;
	width:calc(100% - 10px);
	background:rgba(0,255,0,0.3);
	top:0;
	padding:3px;
	font-size:15px;
	z-index:15;
	display:none;
}
.mark{
	position:absolute;
	width:100%;
	//background:rgba(255,255,255,0.8);
	top:100px;
	z-index:10;
}
.sold{
	position:absolute;
	width:100%;
	min-height:300px;
	background:rgba(255,255,255,0.8);
	font-size:70px;
	color:red;
	text-align:center;
	vertical-align:middle;
	z-index:20;
	display:none;
}
.solds{
	position:absolute;
	width:85%;
	min-height:300px;
	background:rgba(255,255,255,0.8);
	font-size:70px;
	color:red;
	text-align:center;
	vertical-align:middle;
	z-index:20;
	display:table;
	}
.sold span,.solds span{
	width:100%;
	display:table-cell;
	vertical-align:middle;
	font-weight:bold;
	  transform: rotate(-45deg);
    transform-origin: right, top;
    -ms-transform: rotate(-45deg);
    -ms-transform-origin:right, top;
    -webkit-transform: rotate(-45deg);
    -webkit-transform-origin:right, top;
}
.imgcontain img{
	width:100%;
	height:auto;
}
.adsbox table{
	position:absolute;
	width:100%;
	bottom:5px;
	text-align:left;
	background:#021e72;
	color:#ffffff;
}
.adsbox .orangetable{
	position:absolute;
	width:100%;
	bottom:5px;
	text-align:left;
	background:#d8743a;
	color:#ffffff;
}

#posted{
	
	width:calc(100% - 10px);
	margin:70px 5px 70px 5px;
	/*box-shadow: 5px 10px 10px #000000;*/
}
#postedd{
	
	width:100%;
	
	min-height:500px;
}
#inputonly{
	width:70%;
	float:left;
	margin:40px 0 40px 0;
	min-height:calc(100% - 80px);
	border-right:1px solid #cccccc;
}
#postimg{
	width:20%;
	float:left;
	margin:40px 0 40px 0;

}

.grouptwo{
	padding:3px;
	float:none;
	clear:both;
	width:100%;
}
.groupf{
	float:left;
	margin:1px;
	width:calc(50% - 5px)
}
.cpforms{
	width:calc(100% - 46px);
	padding:10px;
	border-style:none;
	border:2px solid #021e72;
	boder-radius:5px;
	
}
.orderlist{
	width:130%;
	background:#ffffff;
	border:2px solid #cccccc;
	
}
.orderinp{
	display:none;
	width:70%;
}
.aref{
	color:blue;
	cursor:pointer
}
#overlay{
	position:fixed;
	height:150%;
	width:100%;
	background:rgba(0,0,0,0.8);
	top:0;
	z-index:100;
	display:none;
}
#inoverlay,#odetails{
	background:#ffffff;
	border-radius:5px;
	margin-top:25px;
	width:70%;
	font-weight:bold;
}
#inoverlay img{
	width:90%;
	margin:10px;
}
.hideli{
	display:none;
}
.ereport{
	width:100%;
}
#ppagetitile{
	color:#ffffff;
	margin-top:130px;
	font-size:50px;
}
.warning{
	color:#f0ad4e;
	border:2px solid #f0ad4e;
	padding:20px;
	width:calc(100%-20px);
	border-radius:5px;
	font-size:15px;
	text-align:center;
	background:rgba(240, 173, 78,0.2);
	display:none;
}
.success{
	color:#5cb85c;
	border:2px solid #5cb85c;
	padding:20px;
	width:calc(100%-20px);
	border-radius:5px;
	font-size:15px;
	text-align:center;
	background:rgba(92, 184, 92,0.2);
	display:none;
}
.underwarn{
	margin:10px;
	width:calc(100%-20px);
	border-radius:5px;
	background:#ffffff;
	
}
.heading{
	color:white;
	font-size:60px;
	position:absolute;
	line-height:100px;
	z-index:1;
	top:50px;
	left:3%;
	text-transform:uppercase;
	text-shadow:2px 2px 4px #000000;
	font-family:monospace;
}
#hhold{
	position:relative;
}
.orangetablep{
	position:absolute;
	width:100%;
	bottom:10px;
	background:#d8743a;
	color:#ffffff;
}
.orangetablev{
	position:absolute;
	width:100%;
	bottom:10px;
	background:#021e72;
	color:#ffffff;
}
.intp{
	position:relative;
	width:100%;
	height:70px;
	overflow:hidden;
	font-family:monospace;
}

.slant{
	height:200px;
	background:#021e72;
	position:absolute;
	right:-50px;
	top:-50px;
	width:50%;
	border:2px solid #ffffff;
	transform: rotate(30deg);
    transform-origin: right, top;
    -ms-transform: rotate(30deg);
    -ms-transform-origin:right, top;
    -webkit-transform: rotate(30deg);
    -webkit-transform-origin:right, top;
}
.stattitle .slant{
	top:-20px;
	right:-130px;
	background:#d8743a;
}
.slants{
	height:200px;
	background:#021e72;
	position:absolute;
	left:-50px;
	top:-50px;
	width:50%;
	border:2px solid #ffffff;
	transform: rotate(-30deg);
    transform-origin: left, top;
    -ms-transform: rotate(-30deg);
    -ms-transform-origin:left, top;
    -webkit-transform: rotate(-30deg);
    -webkit-transform-origin:left, top;
}
.stattitle .slants{
	top:-20px;
	left:-130px;
	background:#d8743a;
}
.stattitle{
	position:relative;
	overflow:hidden;
}
.dinsyd{
	position:absolute;
	width:50%;
	left:30px;
	top:10px;
	text-align:center;
}
.dinsyd hr{
	background:#ffffff;
	border-style:none;
	height:2px;
	width:200%;
}
.pricein{
	font-size:20px;
	position:absolute;
	height:100%;
	right:15px;
	z-index:1;
	top:15px;
}
.manu{
	font-size:15px;
	font-weight:bold;
	
}
#nowloged{
	display:none;
}
#userspace{
	position:absolute;
	padding:10px;
	background:white;
	top:5px;
	right:5px;
	color:#bf3f3f;
}
#pprice{
	width:calc(100% - 80px);
}
/*label{
	float:left;
	clear:right;
	color:white;
	font-weight:bold;
	font-size:20px;
	display:none;
}
input:focus ~ label{
	display:block;
}*/