body{
	font-family:'K2D';
	/*font-family:'K2D';*/
	font-size:15px;
	padding:0px;
	margin:0px;
}
#pmenu{
	display:none;
}
html{
	text-rendering :optimizeLegibility;
}
.contain{
	padding:5px 20px 5px 20px;
}
.myinput{
	padding:20px;
	border-style: none;
	width:calc(100% - 40px);
	margin-bottom:20px;
	border-bottom: 2px solid #021e72;
	

}
#spintab .myinput,.groupf input,.groupff input{
	margin-bottom:10px;
	padding:10px;
	

}
.profbottom{
	width:100%;
	position:absolute;
	height:400px;
	bottom:0;
	background-color:rgba(255,255,255,0.3);
}

.padbutton{
padding:10px;
min-width:100px;
text-transform: uppercase;
color:#ffffff;
border:2px solid #ffffff;
background:#021e72;

}
.padsbutton{
padding:10px;
min-width:100%;
text-transform: uppercase;
color:#ffffff;
border:2px solid #ffffff;
background:#021e72;

}
.padssbutton{
padding:10px;
width:calc(100%-40px);
text-transform: uppercase;
color:#ffffff;
border:2px solid #ffffff;
background:inherit;

}
.orderlists{
	background:#ffffff;
	margin:0px 3px;
}
#buyreq{
	font-size:20px;
	color:white;
	text-shadow:2px 2px 4px #000000;
}
#searchinput::placeholder{ /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #ffffff;
  opacity: 1; /* Firefox */
  font-family:'K2D';
}
.logored{
	color:#bf3f3f;
}
header{
	background:#021e72;
	color:#ffffff;
	min-height:80px;
	margin-top:0;
	position:relative;
	width:100%;
	border-bottom:8px solid #bf3f3f;
}
header a{
	
	padding-top:0px;
	text-transform:uppercase;
	text-decoration:none;
	color:#ffffff;
	font-weight:bold;
}
#sitename{
	float:left;
}
#sitename h1{
		text-shadow:2px 2px 4px #000000;;
}
#topnav{
	margin-bottom:10px;
	float:right;
}
#topnav li{
	float:left;
	padding:20px;
	list-style:none;
	cursor:pointer;
}
#topnav li:focus{
	background:#bf3f3f;
}
#navmad,#fpin{
	background:#bf3f3f;
}
#nofloat{
	width:100%;
	position:relative;
	
}
#mid{
	width: 100px;
  height: 100px;
  object-fit: cover;
  background:#bf3f3f;
	color:#ffffff;
	border-radius:50%;
	border:3px solid #ffffff;
	text-align:center;
	position:absolute;
	top:30px;
	right:calc(50% - 60px);
	z-index:10;
	padding:7px;
  }
 

	/*border-right:3px solid #021e72;*/
#fcontent {
	width:calc(100% - 10px);
	margin:10px 5px 5px 5px;
	background:url("car.jpeg");
	background-repeat: no-repeat;
 	background-position: center;
 
}
#postcontent{
	width:calc(100% - 10px);
	min-height:435px;
	background:#021e72;
	margin:10px 5px 5px 5px;
}
#signs{
	min-height:435px;
	width:100%;
	background:rgba(0,0,0,0.6);
	text-align:center;
	position:relative;
	z-index:0;
	overflow:hidden;
	/*display:table;
	vertical-align: middle;*/
}
#postinner{
	min-height:435px;
	width:100%;
	text-align:center;
	position:relative;
	z-index:0;
	overflow:auto;

}	
.pintab{
	position:absolute;
	font-size:15px;
	color:#ffffff;
	background:#bf3f3f;
	left:0px;
	padding:5px 20px 5px 20px;
	text-transform: uppercase;
	border-radius:0px 25px 25px 0;
	border-top:5px solid #ffffff;
	border-bottom:5px solid #ffffff;
	border-right:5px solid #ffffff;
	min-width:100px;
	cursor:pointer;
}
.pintabs{
	position:absolute;
	font-size:13px;
	color:#ffffff;
	background:#bf3f3f;
	text-align:left;
	left:0px;
	padding:5px 20px 5px 20px;
	border-top:3px solid #ffffff;
	border-bottom:3px solid #ffffff;
	width:calc(100% - 40px);
}
.pintabw{
	font-size:15px;
	color:#ffffff;
	background:#bf3f3f;
	padding:5px 20px 5px 20px;
	text-transform: uppercase;
	border-radius:25px;
	border:5px solid #ffffff;
	min-width:100px;
	cursor:pointer;
}
.updatebut{
	font-size:15px;
	color:#ffffff;
	background:#bf3f3f;
	padding:5px;
	text-transform: uppercase;
	border-radius:20px;
	border:2px solid #ffffff;
	cursor:pointer;
	float:left;
	margin:5px;
}
.pintab:focus,.pintabw:focus{
	background:#021e72;
}
.reporttab{
	position:absolute;
	font-size:10px;
	color:red;
	background:#ffffff;
	left:0px;
	padding:5px 5px 5px 5px;
	text-transform: uppercase;
	border-radius:0px 15px 15px 0;
	border-top:2px solid #bf3f3f;
	border-bottom:2px solid #bf3f3f;
	border-right:2px solid #bf3f3f;
	cursor:pointer;
}
.reporttaby{
	position:absolute;
	font-size:16px;
	color:#021e72;
	background:#ffffff;
	left:0px;
	padding:5px 5px 5px 5px;
	text-transform: uppercase;
	border-bottom:2px solid #021e72;
	border-bottom:2px solid #021e72;
	border-right:2px solid #021e72;
	border-left:2px solid #021e72;
	cursor:pointer;
}
.reporttabs{
	position:absolute;
	font-size:10px;
	color:#ffffff;
	background:red;
	right:0px;
	padding:5px 5px 5px 5px;
	text-transform: uppercase;
	border-radius:15px 0 0 15px;
	border-top:2px solid #ffffff;
	border-bottom:2px solid #ffffff;
	border-left:2px solid #ffffff;
	border-right:0px;
	cursor:pointer;
	z-index:50;
}
.pintop{
	position:absolute;
	font-size:15px;
	color:#ffffff;
	background:#bf3f3f;
	padding:5px 20px 5px 20px;
	text-transform: uppercase;
	border-top:0;
	border-left:5px solid #ffffff;
	border-bottom:5px solid #ffffff;
	border-right:5px solid #ffffff;
	min-width:100px;
	cursor:pointer;
	z-index:10;
}
#tpintop{
	right:10px;
}
#fpintop{
	right:180px;
}
#spintop{
	left:10px;
}

#accontact,#acagent,#acorder{
	position:static;
	margin:40px 0 40px 0;
	border-radius:25px;
	border:5px solid #ffffff;
	min-width:150px;
}
#ep1,#ep2,#ep3,#ep4,#ep5,#ep6{
	position:static;
	margin:10px 0 10px 0;
	border-radius:25px;
	border:5px solid #ffffff;
	min-width:150px;
}
#edit1,#edit2,#edit3,#edit4,#edit5,#edit6,#sedit1,#sedit2,#sedit3,#sedit4,#sedit5,#sedit6{
	width:60%;
	margin-top:5px;
	border:2px solid #021e72;
	border-radius:10px;
	display:none;
}
#cl1,#cl2,#cl3,#cl4,#cl5,#cl6{
	display:none;
}
.righttabs{
	background:#bf3f3f;
	width:30%;
	min-height:500px;
	position:absolute;
	right:0px;
	margin-right: 10px;
	top:0px;
	z-index:12;
}
.righttab{
	background:#bf3f3f;
	width:30%;
	min-height:500px;
	position:absolute;
	right:0px;
	margin-right: 10px;
	top:0px;
	z-index:12;
	-webkit-animation-name: animatebottom;
	-webkit-animation-duration: 1s;
	animation-name: animatebottom;
	animation-duration: 1s;
}
@-webkit-keyframes animatebottom{
	from { top:500px; opacity:0}
	to { top:0px; opacity:1}
}
@keyframes animatebottom{
	from { top:500px; opacity:0}
	to { top:0px; opacity:1}
}
.hide{
	display:none;
}
.show{
	display:block;
}
.left{
	float:left;
}
#forsearch{
	position:absolute;
	width:60%;
	bottom:30px;
	left:3%;
}
#mainsearch{
	
	width:80%;
	float:left;
}
#searchinput{
	padding:20px;
	width:100%;
	background:rgba(191,63,63,0.7);
}
#searchspan{
	width:20%;
	float:right;
}
#searchspan button{
	width:100%;
	padding:20px 0 20px 0; 
	margin:0;
	text-transform: uppercase;
	color:#ffffff;
	background:#021e72;
	
}
#serchform{
	padding:0;
}
.titletab{
background:#021e72;
margin: 20px 0 10px 0; 
padding:10px;
text-align: center;
text-transform: uppercase;
font-size: 40px;
color:#ffffff;
position:relative;
text-shadow:2px 2px 4px #000000;
}
.close{
	position:absolute;
	right:10px;
	cursor:pointer;
	top:1px;
	font-size: 20px; 
	display:none;
}
.goback{
	position:absolute;
	left:10px;
	cursor:pointer;
	top:1px;
	font-size: 12px; 
}
.closes{	
	cursor:pointer;	
	font-size: 20px;
	display:none; 
}
#fpin,#fpijn{
	top:80px;
}
#fpinn{
	bottom:150px;
	z-index:1;
	color:white;
}
#profilename{
	top:160px;
	position:relative;
	text-transform:capitalize;
}
#spin{
	top:188px;
}
#spinn{
	bottom:228px;
	z-index:1;
	color:white
}
#tpin{
	top:306px;
}

#extras{
	background:#cccccc;
	width:100%;
	
}
.stattitlez{
	padding:5px;
	color:#021e72;
	width:calc(100%-30px);
	border-bottom:1px solid #ffffff;
	font-weight:500;
}
.stattitlez input{
	width:50px;
}
.stattitle{
	padding:10px;
	text-align:center;
	color:#021e72;
	font-weight:bold;
	font-size:25px; 
	width:calc(100%-30px);
	border-bottom:3px solid #ffffff;;
}
.stattitl{
	padding:10px;
	color:#021e72; 
	width:calc(100%-30px);
	border-bottom:3px solid #ffffff;;
}
#adtitle{
	margin-top:0;
	background:#021e72;
	border-bottom:2px solid #ffffff;
	color:#ffffff;
}
#adstitle{
	margin-top:0;
	padding:10px;
	color:#ffffff;
	font-size:25px;
	border-bottom:2px solid #ffffff;
}

#indexads{
	width:95%;
	margin-left:2.5%;
	padding-bottom:20px;

	
}
.fn{
	float:none;
	clear:both;
}
.sameimg{
	width:27%;
	border:2px solid #ffffff;
	margin:3px;
	min-height:150px;
}
.boxline{
	width:100%;
}
#agentsconer{
	width:20%;
	right:0;
	border-left:3px solid #ffffff;
	min-height:100%;
	position:relative;
}
footer{
	padding:20px;
	background:#191919;
	width:calc(100% - 40px);
	font-weight:bold;
	text-align:center;
	color:#ffffff;
}

#postform,#prequest{
	float:none ;
	width:80%;
	margin:auto ;
	position:relative;
	margin-right:10%;
	min-height:90%;
	margin-top:70px;
	margin-bottom:30px !important;
	background:#bf3f3f;
	border: 3px solid #ffffff;
	display:none;
}
#poffered{
	float:none ;
	width:100%;
	margin:auto ;
	position:relative;
	min-height:90%;
	margin-top:70px;
	margin-bottom:30px !important;
	display:none;
	color:white;
}
.adsbox{
	width:calc(33% - 10px);
	float:left;
	margin:5px;
	min-height:300px;
	background:#f1f1f1;
	box-shadow: 3px 5px 5px #000000;
	position:relative;	
	overflow:hidden;
}
.imgcontain{
	width:100%;
	height:200px;
	overflow:hidden;
	background:#666666;
	position:relative;
}
.priceedit{
	position:absolute;
	width:100%;
	background:rgba(255,255,255,0.8);
	top:0;
	z-index:10;
}

.mark{
	position:absolute;
	width:100%;
	top:100px;
	z-index:10;
}
.marks{
	position:absolute;
	top:0;
	z-index:10;
	right:100px;
}

.sold{
	position:absolute;
	width:100%;
	min-height:300px;
	background:rgba(255,255,255,0.8);
	font-size:70px;
	color:red;
	text-align:center;
	vertical-align:middle;
	z-index:20;
	display:none;
}
.solds{
	position:absolute;
	width:85%;
	min-height:300px;
	background:rgba(255,255,255,0.8);
	font-size:70px;
	color:red;
	text-align:center;
	vertical-align:middle;
	z-index:20;
	display:table;
	}
.sold span,.solds span{
	width:100%;
	display:table-cell;
	vertical-align:middle;
	font-weight:bold;
	  transform: rotate(-45deg);
    transform-origin: right, top;
    -ms-transform: rotate(-45deg);
    -ms-transform-origin:right, top;
    -webkit-transform: rotate(-45deg);
    -webkit-transform-origin:right, top;
}
.imgcontain img{
	width:100%;
	height:100%;
	object-fit: cover;
}
.adsbox table{
	position:absolute;
	width:100%;
	bottom:5px;
	text-align:left;
	background:#021e72;
	color:#ffffff;
}
.adsbox .orangetable{
	position:absolute;
	width:100%;
	bottom:5px;
	text-align:left;
	background:#bf3f3f;
	color:#ffffff;
}

#posted{
	
	width:calc(100% - 10px);
	margin:0px 5px 70px 5px;
	padding-top:30px;
	/*box-shadow: 5px 10px 10px #000000;*/
}
#postedd{
	width:100%;
}
#inputonly{
	width:70%;
	float:left;
	margin:40px 0 40px 0;
	min-height:calc(100% - 80px);
	border-right:1px solid #fff;
}
#postimg{
	width:27%;
	float:left;
	margin:40px 0 40px 0;

}
.postimg{
	width:calc(33% - 40px);
	float:left;
	margin:20px;

}

.grouptwo{
	padding:3px;
	float:none;
	clear:both;
	width:100%;
}
.groupf{
	float:left;
	margin:1px;
	width:calc(50% - 5px)
}
.groupff img{
	width:100%;
	border:2px solid white;
}
.groupff{
	float:none;
	margin:1px;
	width:calc(100% - 20px);
	position:relative;
}
.cpforms{
	width:calc(100% - 46px);
	padding:10px;
	border-style:none;
	border:2px solid #021e72;
	border-radius:5px;
	
}
.orderlist{
	width:100%;
	background:#021e72;
	border:2px solid #fff;
	color:#fff;
	position:relative;
	overflow:hidden;
	
}
.orderlist hr{
	border-style : none;
	height:2px;
	background:#fff;
}
.orderinp{
	display:none;
	width:70%;
}
.aref{
	color:blue;
	position:absolute;
	left:0px;
	z-index:1;
	top:16px;
	cursor:pointer;
	background:white
}
#overlay{
	position:fixed;
	height:100%;
	width:100%;
	background:rgba(0,0,0,0.8);
	top:0;
	z-index:100;
	display:none;
	overflow-y: scroll;
}

#touchlist{
	position:fixed;
	height:120%;
	width:100%;
	background:rgba(0,0,0,0.8);
	top:0;
	z-index:10;
	overflow:hidden;
	
}
#inoverlay{
	background:#ffffff;
	border-radius:5px;
	margin-top:25px;
	width:80%;
	height:500px;
	position:relative;
}
#odetails{
	background:#ffffff;
	margin-top:25px;
	width: 90%;
	font-weight:500;
	text-align:left;
}
#fdetail{
	padding:20px;
	text-transform:capitalize
}
.next{
	color:white;
	padding:10px 20px;
	position:absolute;
	z-index:10;
	background:rgba(0,0,0,0.8);
	cursor:pointer;
	top:calc(50% - 10px);
	right:10px;
	
}
.fdetail{
	padding:20px;
}
#odetails hr{
	background:#021e72;
	border-style:none;
	height:1px;
}
#inoverlay img{
	width:calc(100% - 20px);
	height:calc(100% - 20px);
	object-fit:cover;
	margin:10px;
}
.hideli{
	display:none;
}
.ereport{
	width:100%;
}
#ppagetitile{
	color:#ffffff;
	margin-top:130px;
	font-size:50px;
}
.warning{
	color:#f0ad4e;
	border:2px solid #f0ad4e;
	padding:20px;
	width:calc(100%-20px);
	border-radius:5px;
	font-size:15px;
	text-align:center;
	background:rgba(240, 173, 78,0.2);
}
.success{
	color:#5cb85c;
	border:2px solid #5cb85c;
	padding:20px;
	width:calc(100%-20px);
	border-radius:5px;
	font-size:15px;
	text-align:center;
	background:rgba(92, 184, 92,0.2);
}
.ralerts{
	position:absolute;
	width:calc(100% - 40px);
	background:rgba(92, 184, 92,0.9);
	text-align:center;
	top:0;
	padding:20px;
	font-size:15px;
	z-index:15;
	display:none;
}
.underwarn{
	width:50%;
	border-radius:5px;
	background:#ffffff;
	position:fixed;
	top:70px;
	z-index: 200;
	left:25%;
	
}
.heading{
	color:white;
	font-size:60px;
	position:absolute;
	line-height:100px;
	z-index:1;
	top:50px;
	left:3%;
	text-transform:uppercase;
	text-shadow:2px 2px 4px #000000;
	font-family:'K2D';
}
#hhold{
	position:relative;
}
.orangetablep{
	position:absolute;
	width:100%;
	bottom:10px;
	background:#bf3f3f;
	color:#ffffff;
}
.orangetablev{
	position:absolute;
	width:100%;
	bottom:10px;
	background:#021e72;
	color:#ffffff;
}
.intp{
	position:relative;
	width:100%;
	height:70px;
	overflow:hidden;
	font-family:'K2D';
}

.slant{
	height:250px;
	background:#021e72;
	position:absolute;
	right:-50px;
	top:-50px;
	width:50%;
	border:2px solid #ffffff;
	transform: rotate(30deg);
    transform-origin: right, top;
    -ms-transform: rotate(30deg);
    -ms-transform-origin:right, top;
    -webkit-transform: rotate(30deg);
    -webkit-transform-origin:right, top;
}
.slanted{
	height:300px;
	background:#021e72;
	position:absolute;
	right:-50px;
	top:-50px;
	width:50%;
	border:2px solid #ffffff;
	transform: rotate(30deg);
    transform-origin: right, top;
    -ms-transform: rotate(30deg);
    -ms-transform-origin:right, top;
    -webkit-transform: rotate(30deg);
    -webkit-transform-origin:right, top;
}
.stattitle .slant{
	top:-20px;
	right:-130px;
	background:#bf3f3f;
}
.slants{
	height:200px;
	background:#021e72;
	position:absolute;
	left:-50px;
	top:-50px;
	width:50%;
	border:2px solid #ffffff;
	transform: rotate(-30deg);
    transform-origin: left, top;
    -ms-transform: rotate(-30deg);
    -ms-transform-origin:left, top;
    -webkit-transform: rotate(-30deg);
    -webkit-transform-origin:left, top;
}
.stattitle .slants{
	top:-20px;
	left:-130px;
	background:#bf3f3f;
}
.stattitle{
	position:relative;
	overflow:hidden;
}
.dinsyd{
	position:absolute;
	width:50%;
	left:30px;
	top:10px;
	text-align:center;
}
.dinsyd hr{
	background:#ffffff;
	border-style:none;
	height:2px;
	width:200%;
}
.pricein{
	font-size:20px;
	position:absolute;
	height:100%;
	right:15px;
	z-index:1;
	top:15px;
}
.manu{
	font-size:15px;
	font-weight:300;
	text-transform:capitalize;
	
}
#nowloged{
	display:none;
}
#userspace{
	position:absolute;
	padding:10px 10px 10px 30px;
	background:white;
	top:5px;
	right:5px;
	color:#bf3f3f;
}
#userspace a{
	color:#bf3f3f;
	text-decoration:none;
}
#userspace img{
	position:absolute;
	left:0;
	bottom:8px;
}
#pprice{
	width:calc(100% - 60px);
	margin-bottom:10pxm
}
#myadsti{
	position :absolute;
	color:white;
	font-size:20px;
	font-weight:bold;
	top:10px;
	left:10px;
	text-shadow:2px 2px 4px #000000;
}
.irline{
	font-size:20px;
	color:#ffffff;
	padding:0px;
	margin:0px;
}
.progress-bar{
  width: 200px;
  position: relative;
  height: 8px;
	margin-top: 4px;
	margin-bottom: 5px;
}
.progress-bar .progress{
  height: 8px;
  background-color: white;
	width: 0;
	border-radius:4px;
	margin-bottom: 5px;
	
}
#fileSelect{
	text-decoration:none;
	color:white;
}


.label-helper, .label-helperr{
  position: absolute;
  opacity: 0;
  transition: .2s bottom, .2s opacity;
  bottom: 0;
	left: 5px;
	color:white;
  z-index: 1; }
  input:focus + .label-helperr, input:invalid + .label-helperr {
  bottom: 80%;
  font-family: arial;
	font-size: 17px;
	font-weight: 300;
  line-height: 1;
  opacity: 1;
  padding: 4px; }

input:focus + .label-helper, input:invalid + .label-helper {
  bottom: 98%;
  font-family: arial;
	font-size: 17px;
	font-weight: 300;
  line-height: 1;
  opacity: 1;
  padding: 4px; }
input:invalid {
  border-left: 5px solid #bf3f3f; }
  input:invalid + .label-helper::after {
    color: #bf3f3f;
    content: "X";
    font-family: arial;
    font-size: 14px;
    line-height: 1;
    padding-left: 12px; }
.subtitile{
	color:white;
	font-weight: 300;
	font-size:15px;
	text-align:left;
}
.scrollable{
	overflow: auto;
}
.relh{
	position:relative;
	padding-top:10px;
}
.sortby{
	font-weight: 500;
	margin:5px 0  5px 0;
	float:left
}

.sortrby{
	float:right;
}
.sortrby select{
	padding:5px;
}
.spinning{
	height: 15px;
	width: 15px;
	border-top :3px solid #bf3f3f;
	border-right: 3px solid #fff;
	border-left:  3px solid #fff;
	border-bottom: 3px solid #fff;
	border-radius: 10.5px;
	-webkit-animation: spin 2s linear infinite;
	animation:spin 2s linear infinite;
}
@-webkit-keyframes spin{
	0%{-webkit-transform: rotate(0deg);}
	100%{-webkit-transform: rotate(360deg);}
}
@keyframes spin{
	0%{-webkit-transform: rotate(0deg);}
	100%{-webkit-transform: rotate(360deg);}
}








.spinloading{
	margin:20px;
	width:40px;
	height:40px;
	border-radius:25px;
	border-top:5px solid #bf3f3f;
	border-right:5px solid #bf3f3f;
	border-left:5px solid #bf3f3f;
	border-bottom:5px solid #fff;
	-webkit-animation: roll 2s linear infinite;
	animation: roll 2s linear infinite;
}

@-webkit-keyframes roll{
	0%{-webkit-transform:rotate(0deg)}
	100%{-webkit-transform:rotate(360deg)}
}
@keyframes roll{
	0%{-webkit-transform:rotate(0deg)}
	100%{-webkit-transform:rotate(360deg)}
}

.forgpass a{
color:#fff;
tabindex:0;
cursor:pointer;
}
























.loading{
	position:fixed;
	height:100%;
	width:100%;
	background:#021e72;
	top:0;
	z-index:100;
}
.loader{
	height: 70px;
	width:70px;
	border-radius: 50px;
	border-top:15px solid #bf3f3f;
	border-right:15px solid #fff;
	border-left:15px solid #fff;
	border-bottom:15px solid #bf3f3f;
	position:absolute;
	top: calc(50% - 50px);
	right: calc(50% - 50px);
	-webkit-animation: load 2s linear infinite;
	animation: load 2s linear infinite;
}
@-webkit-keyframes load{
	0%{-webkit-transform: rotate(0deg);}
	100%{-webkit-transform: rotate(360deg);}
}
@keyframes load{
	0%{-webkit-transform: rotate(0deg);}
	100%{-webkit-transform: rotate(360deg);}
}
/*label{
	float:left;
	clear:right;
	color:white;
	font-weight:bold;
	font-size:20px;
	display:none;
}
input:focus ~ label{
	display:block;
}*/
.round{
	width:50px;
	height:50px;
	border-radius: calc(50% + 2.5px);
	border-top:5px solid #021e72;
	border-right:5px solid #fff;
	border-left:5px solid #fff;
	border-bottom:5px solid #fff;
	-webkit-animation: srock 2s linear infinite;
	animation: srock 2s linear infinite;
}
@-webkit-keyframes srock{
	0%{-webkit-transform : rotate(0deg);}
	100%{-webkit-transform : rotate(360deg);}
}
@keyframes srock{
	0%{-webkit-transform : rotate(0deg);}
	100%{-webkit-transform:rotate(360deg);}
}